body {
background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 169, 199, 1) 32%, rgba(210, 212, 104, 1) 71%, rgba(237, 221, 83, 1) 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
